<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<body>
 <div class="w3-row">
  <div class="w3-col m4 l3">
    <img src="/static/images/RAM_logo.png" alt="logo" class="w3-image" width="60" height="40">
  </div>
  <div class="w3-col m8 l9 w3-left">
	<h2>ToDo List</h2>
  </div>
</div> 

<div class="w3-bar w3-border w3-black">
  <a href="#" class="w3-bar-item w3-button w3-border-right">Home</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-border-right">Link 3</a>
</div>

<div class="w3-panel ">
	<p>body1 block extended below....</p>
	{% block body1 %}{% endblock %}
</div>

<div class="w3-panel w3-light-grey">
	{% block body2 %}{% endblock %}
</div>

<div class="w3-panel w3-dark-grey">
  <p>Footer</p>
</div>

</body>
</html>
